<!doctype html>
<html lang="sv">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{pageTitle}}</title>

    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/font-awesome.min.css" rel="stylesheet">
    <link href="/public/css/eid.css" rel="stylesheet">

    <script src="/public/js/jquery-3.4.1.min.js"></script>
    <script src="/public/js/sweetalert.js"></script>
    <script src="/public/js/valfor.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/MicrosoftTeams.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/eid.js"></script>

</head>

<body class="text-center">