{{> head}}
<link href="/public/css/eid.css" rel="stylesheet">
</head>

<body class="text-center">

    <form id="EidAuthForm" class="form-eidauth">
        <img class="mb-4 logo" src="/public/logo-white.png" height="108" width="85">
        <h1 class="h3 font-weight-normal">{{title}}</h1>
        {{message}}

    </form>
    <script>

        initializeApp(false);

    </script>

</body>

{{> footer}}