body {
    font-family: "Segoe UI Regular", "Roboto Regular", "SF Pro Text Regular"; 
    font-style: normal;
}
.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}